* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 10px; /* definir uma font-size padrão */
  }
  
  body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  /* define que as imagens tem que ter o tamanho máximo da div mãe */
  .img-responsive {
    width: 40%;
  }

  
  /* define o tamanho da caixa */
  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
  }
  
  /* --- NAV --- */
  .navegacao {
    background-color: #000066;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    z-index: 99;
    position: fixed;
    width: 100%;
    transition: all 1s;
  }
  .navegacao__logo {
    max-width: 200px;
  }
  .navegacao__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navegacao__itens {
    transition: all 1s;
    position: absolute;
    right: -800px;
    top: 85px;
    width: 100%;
    text-align: center;
    padding: 3rem 0;
  }
  .navegacao__itens.ativo {
    display: block;
    right: 0;
    top: 85px;
    width: 100%;
    text-align: center;
    padding: 3rem 0;
    transition: right 0.5s;
  }
  .navegacao__itens li > a {
    transition: all 0.5s;
  }
  .navegacao__itens li > a:hover {
    color: orange;
  }
  
  .navegacao__nav {
    margin-bottom: 3rem;
    margin-right: 2rem;
  }
  .navegacao__nav li {
    font-size: 1.5rem;
    margin: 1rem;
  }

  .navegacao__menu-hamburguer img {
    border-radius: 5px;
  }
  .hamb{
      width: 30px;
      color:white;
  }


  .card1, .card2{
      box-shadow: 1px 1px 5px #ccc;
      background-color: white;
      padding: 30px;
      border-radius: 5px;
  }

  .form{
      width:  300px;
      margin: auto;
      padding: 20px;
  }

  .alignFind{
    text-align: center;
  }

  .card-perfil{
      text-align: center;

  }
  main{
      padding-top: 10rem;
      align-items: center;
      
  }
  
  .fonte{
      font-size: 20px;
      color: #000066;
  }

  .fonte:hover{
    color: orange;
    }

  .imgPerfil{
      border-radius:  50px;
      width: 100px;
      box-shadow: 5px;
      padding:8px;
  }
  .nomePerfil{
    padding-top: 15px;
    padding-bottom: 15px;
    color:orange;
  }
  .fa-search{
    pointer-events: none;
    }

    .search-input{
        font-size: 1.6rem;
        border-radius: 5px;
    }

    .search-button{
        background: orange;
        color:#000066;
        font-size: 1.6rem;
        border-radius: 5px;
        padding: 6px;
    }
    
    .search-button:hover{
        background: #000066;
        color: orange;
    }

    .bonito{
        text-align: center;
    }



    .imgPerfilBusca{
      border-radius:  50px;
      width: 100px;
      box-shadow: 5px;
      padding:8px;
  }
    .nomePerfilBusca{
      padding-top: 15px;
      padding-bottom: 15px;
      color:orange;
    }

    .verTodos{
      padding-top: 15px;
      font-size: 1.6rem;
      color:#000066;
    }

    .verTodos:hover{
      color:orange;
    }

  /* --- FOOTER --- */
  .rodape {
    background-color: #323534;
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }
  
  .rodape__cc {
    width: 100%;
    background-color: #292a2a;
    font-size: 1rem;
    opacity: 0.5;
    text-align: center;
    padding-top: 8px;
  }
  
  
  
 /*** MEDIA QUERIES ***/
  /* TABLET */
  @media (min-width: 768px) {
    /* --- NAV --- */
    .navegacao__itens {
      position: static;
      display: flex;
      padding: 0;
      width: auto;
    }
  
    .navegacao__nav {
      margin-bottom: 0;
    }
  
    .navegacao__itens ul {
      display: flex;
      justify-content: space-around;
      width: 100%;
      align-items: center;
      text-align: center;
    }
  
    .navegacao__itens li {
      font-size: 1.2rem;
      margin: 0 0.6rem;
    }

    main{
      display:flex;
      padding-top: 90px;
      padding-left: 80px;
    }

    .rodape {
      padding-top: 0;
    }
  
    
  };
  @media (min-width: 1024px) {


    main{
      padding-left: 110px;
      margin:auto;
      display: flex;
      text-align: center;
      align-items: center;
    }

    
  }
  /* DESKTOP */
  @media (min-width: 1440px) {
    .navegacao__box {
      max-width: 80%;
    }
    
    .navegacao__itens li {
      font-size: 1.5rem;
      margin: 0 1rem;
    }

    .right{
      float:right;
  }
  .left{
      float:left;
      padding-left: 200px;
  }
  }

  
  